.vscode/**
.github/**
.gitignore
.eslintrc.json
.eslintrc.base.json
.eslintignore
.vscodeignore
tsconfig.json
tsconfig.base.json
tsconfig.watch.json
*.vsix
*.ts
*.map
src/**
out/**
testbed
python
node_modules
configs
build
bin